:root {
    /* --colours-primary: var(--palette-black); */
    --colours-interactable: var(--palette-white); /* blue highlights */
    --colours-nav-bar: #2a2a28;
    --colours-nav-bar-hover: #2f2f2c;
    --colours-page-background: #202020; /* white background */
    --colours-plain-background: #2a2a28; /* panel bg */
    --colours-nested-item: #2f2f2c; /* colour option bg 8 */
    --colours-text-heading: var(--palette-light-grey); /*text*/
    --colours-text-body: var(--palette-light-grey);
    --colours-text-body-inverted: var(--palette-light-grey);

    --colours-text-secondary: var(--palette-white);
    --colours-secondary: var(--palette-white);
    --colours-selected: var(--palette-white);

    --colours-regular-background: #2f2f2c;
    --colours-item-hover: #3b3b37;

    --spx-shadow-sm: 0px 2px 2px rgba(74, 76, 82, 0.5);
    --spx-shadow-sm-dark: 0px 2px 2px rgba(57, 60, 65, .3);
    --spx-shadow-md: 0px 3px 5px rgba(57, 60, 65, .3);
    --spx-shadow-md-dark: 0px 3px 5px rgba(57, 60, 65, .3);
    --spx-shadow-md-extradark: 0px 3px 5px rgba(45, 45, 45, 1);
    --spx-shadow-lg: 0px 4px 11px -1px rgba(45, 47, 50, 0.8);
    --spx-shadow-lg-dark-blue: 0px 4px 11px -1px var(--palette-dark-blue);
    --spx-shadow-lg-top: 0px -3px 11px rgba(128, 128, 128, .2);
}

body {
    color: #202020;
}