 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    min-width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

  .notificationDiv {
    position: absolute;
    top: 82.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 99999px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 20px #000000;
    opacity: 0;
    z-index: 9999999;
  }

  .notificationText {
    color: #1A365D;
    /* font-family: "'DM Sans', sans-serif"; */
    font-weight: 700;
    background-color: transparent;
  }

/* taken from sparx maths css for consistency */
.WarningContainer {
  overflow: hidden;
  grid-area: w;

  animation: show 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

  opacity: 0;
}

.InfoContainer {
  overflow: hidden;
  grid-area: w;

  animation: show 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

  opacity: 0;
}

@keyframes show {
  100% {
    opacity: 1;
  }
}

.WarningContainer .Warning {
  background-color: var(--colours-background-warning-message);
  padding: var(--spx-unit-3) var(--spx-unit-4);
  border-radius: var(--spx-radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-fill-color: initial;
  color: var(--colours-text-warning-message);
}

.WarningContainer .Warning :first-child {
  margin-right: var(--spx-unit-2);
}
.InfoContainer .Info :first-child {
  margin-right: var(--spx-unit-2);
}

.InfoContainer .Info {
  background-color: rgb(190 232 224);
  padding: var(--spx-unit-3) var(--spx-unit-4);
  border-radius: var(--spx-radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-fill-color: initial;
  color: rgb(42 169 173);
}

.experimental {
  color: black;
  max-width: 20px;
  max-height: 20px;
  min-width: 20px;
  min-height: 20px;
}


@keyframes fadeInOverlay {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@keyframes fadeOutOverlay {
  0% {
      opacity: 1
  }

  to {
      opacity: 0
  }
}

.SparxPlusDialogOverlay[data-state=open],.SparxPlusDialogOverlay[data-state=open] {
  animation: fadeInOverlay .2s ease-out
}

.SparxPlusDialogOverlay[data-state=closed],.SparxPlusDialogOverlay[data-state=closed] {
  animation: fadeOutOverlay .2s ease-in
}

.SparxPlusDialogOverlay {
  background-color: var(--colours-transparent-darken);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.SparxPlusWhiteboardButton {
  background-color: var(--colours-selected);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--colours-text-body-inverted);
  font-family: "DM Sans", sans-serif;
  font-size: var(--spx-font-size-base);
  cursor: pointer;
  box-sizing: border-box;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  justify-content: center;
  line-height: 24px;
}

.SparxPlusDialogContent {
  background-color: var(--colours-plain-background);
  border-radius: var(--spx-radius-sm);
  box-shadow: var(--spx-shadow-lg);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 90%;
  width: 90%;
  max-width: 1000px;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  overflow-y: auto
}

.SparxPlusDialogContent[data-state=open] {
  animation: fadeInOverlay .2s ease-out
}

.SparxPlusDialogContent[data-state=closed] {
  animation: fadeOutOverlay .2s ease-in
}

@media (max-width: 480px) {
  .SparxPlusDialogContent {
      height:100%;
      width: 100%;
      max-height: 100%;
      max-width: 100%;
      border-radius: 0
  }
}

.SparxPlusDialogContent.ContentHeight {
  height: auto;
  max-height: min(1000px,90%)
}

@media (max-width: 480px) {
  .SparxPlusDialogContent.ContentHeight {
      max-height:100%;
      height: 100%
  }
}

.SparxPlusDialogContent.WithZIndex {
  z-index: 10
}

.FullScreen {
  width: 90%
}

@media (max-width: 480px) {
  .FullScreen {
      width:100%
  }
}

.FullScreen {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  border-radius: 0
}

.SparxPlusDialogContent:focus {
  outline: none
}

.SparxPlusDialogTitle {
  text-align: center;
  font-size: var(--spx-font-size-2xl);
  max-inline-size: 100%;
  padding: var(--spx-unit-6) var(--spx-unit-2);
  margin: 0 auto;
  font-weight: 500;
  flex-grow: 0
}

@media (max-height: 800px) {
  .SparxPlusDialogTitle {
      padding:var(--spx-unit-4) 0
  }
}

@media (max-height: 700px) {
  .SparxPlusDialogTitle {
      padding:var(--spx-unit-2) 0
  }
}

@media (max-height: 400px) {
  .SparxPlusDialogTitle {
      padding:var(--spx-unit-1) 0
  }
}

.SparxPlusIconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-text-fill-color: initial;
  color: var(--colours-text-secondary);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer
}

.SparxPlusIconButton:hover {
  background-color: var(--colours-regular-background);
  box-shadow: var(--spx-shadow-sm)
}

.SparxPlusVideoCloseX {
  display: none
}

@media (max-height: 400px) {
  .SparxPlusVideoCloseX {
      display:inline-flex
  }
}

.SparxPlusVideoContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  background: var(--colours-plain-background-inverted)
}

.SparxPlusDebugMenu {
  margin: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;
  pointer-events: none;
}

.SparxPlusDebugMenuHidden {
  display: none;
}